<div class="wrapper">
<div class="sidenav-content">
   
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="bi bi-boxes"></i>
            <span>
                <a class="nav-link" routerLink="/mision"> Misión </a>
            </span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-clipboard2-check"></i>
            <span>
                <a class="nav-link" routerLink="/vision"> Visión </a>
            </span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-bullseye"></i>
            <span>
                <a class="nav-link" routerLink="/objetivo"> Objetivo </a>
            </span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-search"></i>
            <span>
                <a class="nav-link" routerLink="/listado"> Búsqueda </a>
            </span>
        </li>
    </ul>
    <app-footer></app-footer>
</div>
</div>

