<div class="display-mision">
        <div class="col-md-8 offset-md-2">
                <div class="card border-primary">
                    <h2 class="card-header text-center">Misión</h2>
                    <div class="card-body text-center text-primary">
                    <p class="card-text"><b>La Misión de la Biblioteca de la Ciudad de México esta ligada a los siguientes
                         aspectos fundamentales:
                        <br>
                        <br> 1.--> Generar las políticas y establecer los procedimientos para facilitar el acceso equitativo, libre y gratuito
                         de los mexicanos al conocimiento y a la cultura y fomentar la lectura en las Bibliotecas Públicas de la Red.
                         <br>
                         <br> 2.--> Promover la formación de un lector crítico, selectivo y creativo desarrollando simultáneamente su motivación
                          por la lectura y su habilidad de obtener experiencias gratificantes de tal actividad.</b></p>
                    </div>
                    <div class="card-footer text-muted text-end">Actualizado: 29/septiembre/2022</div>
                </div>
        </div>
        <app-footer></app-footer>    
  </div>
