<div class="display-objetivo">
    <div class="col-md-8 offset-md-2">
            <div class="card text-bg-info">
                <h2 class="card-header text-center">Objetivo</h2>
                <div class="card-body text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Objetivo 1: Ejercer las atribuciones de la Secretaría de Cultura como instancia
                            coordinadora de la Red Nacional de Bibliotecas Públicas, mediante el establecimiento de normas, criterios
                            y modelos que regulen los servicios bibliotecarios. </b></li>
                        <li class="list-group-item"><b>Objetivo 2: Suministrar materiales de lectura y contenidos culturales; brindar
                            capacitación al personal; la modernización tecnológica; y las actividades de fomento a la lectura, 
                            bajo los principios de colaboración y corresponsabilidad entre los tres órdenes de gobierno.</b></li>
                        <li class="list-group-item"><b>Objetivo 3: Promover proyectos educativos, culturales y sociales para facilitar el 
                            acceso a los recursos y conectar con ideas, experiencias y opiniones.</b></li>
                    
                    </ul>
                </div>
                <div class="card-footer text-end border-success">Actualizado: 29/septiembre/2022</div>
            </div>
    </div>
    <app-footer></app-footer>    
</div>