<div class="display-vision">
    <div class="col-md-8 offset-md-2">
            <div class="card border-success">
                <h2 class="card-header text-center">Visión</h2>
                <div class="card-body text-center text-success">
                <p class="card-text"><b>La Biblioteca tiene como visión ser un espacio moderno, agradable
                    y accesible, orientada al usuario/a, referente informativo para la gestión y transmisión
                    del conocimiento, donde las nuevas tecnologías estén al alcance de todos. 
                    Vinculada con el exterior e integrada en las metas de calidad y objetivos de
                    la Secretaría de Cultura; con una gestión eficaz, dinámica y eficiente, capaz de provocar
                    con su actividad unos/as usuarios/as mejor formados/as e informados/as.</b></p>
                </div>
                <div class="card-footer text-muted text-end border-success">Actualizado: 29/septiembre/2022</div>
            </div>
    </div>
    <app-footer></app-footer>    
</div>